.form {
  &__row {
    position: relative;
    flex: 1;
    padding: 0 10px;

    .input {
      width: 100%;
    }
  }

  &__addon {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey);

    &_right {
      right: 30px;
    }

    &_left {
      left: 10px;
    }
  }
}
