.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  fill: currentColor;
}

.icon_earth {
  width: 24px;
  height: 24px;
  mask-image: url(/assets/icons/earth.svg);
  background: var(--color-text);
}
