.section {
  &__title {
    margin: 0 0 1.5rem;
    font-size: 2rem;
    text-align: center;
  }

  &__footer {
    margin-top: 24px;
    text-align: center;
  }

  &__content {
    text-align: center;
    font-size: 1.25rem;
  }

  &__divider {
    height: 10px;
    background: black;
  }

  &_latest {
    padding-top: 30px;
  }

  &_results {
    position: relative;

    .gallery {
      padding-top: 30px;
    }
  }

  &_article {
    line-height: 1.66;

    ul,
    ol {
      padding-left: 20px;
    }

    @media (min-width: 1024px) {
      font-size: 1.25rem;
    }
  }
}
